*{
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{ 
    margin: 20px;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 35px;
    
}

ul li a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    margin: 10px;
}
.signup{
    color: rgb(255, 78, 178);
}
.bars{
    margin: 20px;
}








.container1{
    margin: 42px 0px 32px 20px;
    overflow-x: hidden;
    display: flex;
}


.textbook1{ 
    z-index: 1;
    line-height: 1;
}

h4{
    color: rgb(255, 78, 178);
    font-weight: 400;
    font-size: 12px;
}
p.headline{
    margin: 0 0 0 0;
    color: black;
    font-weight: 800;
    font-size: 35px;
}

p.missout{
    font-weight:200;
    color: rgb(70, 70, 70);
    font-size: 12px;
}

.illustration{
    height: 300px;
    z-index: -1;
    position:static;
}  

.middle{
    border-radius: 25px;
    height: 200px;
    padding: 20px;
    line-height: 1;

    background-image: url(assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.banner{
    font-size: 30px;
}
.bannertext{
    font-size: 12px;
}


.brands{
    margin: 20px 0 0 0;
    padding: 20px;
    max-width: 896px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}
img.brands{
    max-width: 50px;
}

h3{
    margin: 0 0 0 15px;
    font-size: 30px;
    font-weight: 400;
}
.we{
    margin: 0 0 0 15px;
    color: rgb(98, 98, 98);
}

.nfts{
    margin: 20px 0 50px 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
 
}
.nft{
    
    margin: 10px;
    border-radius: 7%;
    background-color: rgb(209, 209, 209);
    width: 290px;
}

.nftxt{
    padding: 10px;
    width: 100%;
    text-align:justify
    
}
.gs{
    color: rgb(250, 150, 0);
    font-weight: 300;
}

.container2{
    margin: 70px 0px 32px 20px;
    overflow-x: hidden;
    display: flex;
}


.textbook1{ 
    z-index: 1;
    line-height: 1;
}

h4{
    color: rgb(255, 78, 178);
    font-weight: 400;
    font-size: 12px;
}
p.headline{
    margin: 0 0 0 0;
    color: black;
    font-weight: 800;
    font-size: 35px;
}

p.missout{
    font-weight:200;
    color: rgb(70, 70, 70);
    font-size: 12px;
}

.illustration2{
    z-index: -1;
    position:static;
   
}  


@media (max-width: 896px) {
    .menu {
      display: none !important;
    }
    .middle {
        border-radius: 0%;

    }
  }

@media (min-width:896px) {
    .bars{
        display: none !important;
    }
    .logo{
        margin: 35px;
    }
    .container1{
        justify-content: space-around;
    }
    .illustration{
        height: 500px;
        position:relative;
    }
    .middle{
        margin: 30px 30px 30px 30px;
    }
    .brands{
        
        margin: 50px 30px 30px 50px;
        padding: 40px;
        flex-direction: row;
        justify-content: space-between;
    }
   
    }
    .nfts{
        justify-content: space-between;
    }
    .container2{
        justify-content: space-between;
    }


